* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fraunces144";
  src: local("Fraunces144"),
    url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

:root {
  --dark--purple: #24053e;
  --davys--grey: #584d62;
  --eucaplyptus: #44ffa1;
  --ghost--white: #fcf8ff;
  --white: #ffffff;

  /* Text-size styles */
  --heading--l: 80px;
  --heading--m: 56px;
  --heading--m--line-spacing: 64px;
  --heading--s: 32px;
  --heading--s--line-spacing: 40px;
  --body: 18px;
}

.primaryDefaultBtn {
  background-color: var(--eucaplyptus);
  color: var(--dark--purple);
  font-family: "Manrope";
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  padding: 18px 25px;
  border: none;
  text-align: center;
  border: 2px solid var(--eucaplyptus);
  transition: 0.5s;
  cursor: pointer;
}

.primaryDefaultBtn:hover {
  border: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
  background-color: var(--dark--purple);
}
/* padding: 60px calc((100% - 960px) / 2); */
.secondaryDefaultBtn {
  background-color: transparent;
  color: var(--white);
  font-family: "Manrope";
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  border: none;
  text-align: center;
  border-bottom: 2px solid var(--eucaplyptus);
  transition: 0.5s;
  cursor: pointer;
}

.secondaryDefaultBtn:hover {
  border-bottom: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
}

body {
  font-family: "Maronpe";
  font-weight: 400;
  font-size: var(--body);
  line-height: 2rem;
  overflow-x: hidden;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background-color: var(--dark--purple);
  position: relative;
  border-bottom-right-radius: 100% 18%;
  border-bottom-left-radius: 100% 18%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 60px;
}

.img-1 {
  position: absolute;
  left: -140px;
}
.img-2 {
  position: absolute;
  right: -48px;
  top: 300px;
}

.header-info {
  display: flex;
  justify-content: center;
}

.header-info-header {
  text-align: center;
  margin-bottom: 312px;
}

.header-info-header h1 {
  font-family: "Fraunces144";
  color: var(--white);
  font-weight: 600;
  font-size: var(--heading--l);
  line-height: var(--heading--l);
  margin-bottom: 38px;
}

.header-info-header span {
  text-decoration: underline;
  text-decoration-color: hsl(150, 100%, 63%);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.14em;
}

.header-info-header > .primaryDefaultBtn {
  padding: 16px 32px;
}
.img-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: block;
  position: absolute;
  max-width: 100%;
  margin-top: -84px;
  width: 767px;
  height: 441px;
}
