* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fraunces144";
  src: local("Fraunces144"),
    url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

:root {
  --dark--purple: #24053e;
  --davys--grey: #584d62;
  --eucaplyptus: #44ffa1;
  --ghost--white: #fcf8ff;
  --white: #ffffff;

  /* Text-size styles */
  --heading--l: 80px;
  --heading--m: 56px;
  --heading--m--line-spacing: 64px;
  --heading--s: 32px;
  --heading--s--line-spacing: 40px;
  --body: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.primaryDefaultBtn {
  background-color: var(--eucaplyptus);
  color: var(--dark--purple);
  font-family: "Manrope";
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  padding: 18px 25px;
  border: none;
  text-align: center;
  border: 2px solid var(--eucaplyptus);
  transition: 0.5s;
  cursor: pointer;
}

.primaryDefaultBtn:hover {
  border: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
  background-color: var(--dark--purple);
}

.secondaryDefaultBtn {
  background-color: transparent;
  color: var(--white);
  font-family: "Manrope";
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  border: none;
  text-align: center;
  border-bottom: 2px solid var(--eucaplyptus);
  transition: 0.5s;
  cursor: pointer;
}

.secondaryDefaultBtn:hover {
  border-bottom: 2px solid var(--eucaplyptus);
  color: var(--eucaplyptus);
}

body {
  font-family: "Maronpe";
  font-weight: 400;
  font-size: var(--body);
  line-height: 2rem;
  overflow-x: hidden;
}

p {
  font-family: "Manrope";
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background-color: var(--dark--purple);
  position: relative;
  border-bottom-right-radius: 100% 18%;
  border-bottom-left-radius: 100% 18%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 60px;
}

.img-1 {
  position: absolute;
  left: -140px;
}
.img-2 {
  position: absolute;
  right: -48px;
  top: 300px;
}

.header-info {
  display: flex;
  justify-content: center;
}

.header-info-header {
  text-align: center;
  margin-bottom: 312px;
}

.header-info-header h1 {
  font-family: "Fraunces144";
  color: var(--white);
  font-weight: 600;
  font-size: var(--heading--l);
  line-height: var(--heading--l);
  margin-bottom: 38px;
}

.header-info-header span {
  text-decoration: underline;
  text-decoration-color: hsl(150, 100%, 63%);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.14em;
}

.header-info-header > .primaryDefaultBtn {
  padding: 16px 32px;
}

.img-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: block;
  position: absolute;
  max-width: 100%;
  margin-top: -84px;
  width: 767px;
  height: 441px;
}

/* Insights */

.insights {
  background-color: var(--ghost--white);
  box-shadow: 0 -50px var(--ghost--white);
  border-bottom-right-radius: 100% 18%;
  border-bottom-left-radius: 100% 18%;
}

.insights > .container {
  padding-top: 15.9375rem;
  padding-bottom: 10.6875rem;
}

.insights .number {
  margin-bottom: 56px;
}

.insights span {
  font-family: "Fraunces144";
  font-weight: 600;
  font-size: 2rem;
  line-height: 40px;
  color: var(--dark--purple);
  border: 1px solid var(--davys--grey);
  border-radius: 50%;
  padding: 8px 23.5px;
}
.insights .insights-description h2 {
  font-family: "Fraunces144";
  font-weight: 600;
  font-size: 2rem;
  line-height: 40px;
  padding-bottom: 26px;
}

.insights .insights-description p {
  color: var(--davys--grey);
}

.insights ul {
  display: flex;
  gap: 26px;
  text-align: center;
}

.contact-me {
  margin-top: 9.0625rem;
  margin-bottom: 9rem;
}

.contact-me > .container {
  display: flex;
  color: var(--white);
}

.img-profile img {
  width: 450.287px;
  height: 453px;
}

.info-contact-me {
  background: var(--dark--purple);
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: baseline;
  margin-left: -90px;
  margin-top: 164px;
}

.info-contact-me .beTheFirst {
  font-family: "Fraunces144";
  font-size: 3rem;
  line-height: 64px;
}

.info-contact-me p {
  max-width: 37.625rem;
}

.img-3 {
  position: absolute;
  right: 4.5rem;
  top: 304px;
}

/* Desktop */

@media (max-width: 1100px) and (min-width: 1021px) {
  .img-3 {
    right: 0;
  }
}

@media (max-width: 1020px) and (min-width: 1004px) {
  .img-3 {
    right: 0;
    top: 304px;
  }
}
@media (max-width: 1003px) and (min-width: 769px) {
  .img-3 {
    right: 0;
    top: 304px;
  }
}

@media (max-width: 1002px) and (min-width: 986px) {
  .img-3 {
    right: 0;
    top: 369px;
  }
}

@media (max-width: 984px) and (min-width: 910px) {
  .img-3 {
    right: 0;
    top: 369px;
  }
}

@media (max-width: 910px) and (min-width: 860px) {
  .img-3 {
    right: -18px;
    top: 432px;
  }
}

@media (max-width: 859px) and (min-width: 824px) {
  .img-3 {
    right: -18px;
    top: 466px;
  }
}

@media (max-width: 823px) and (min-width: 767px) {
  .contact-me > .container {
    display: flex;
    color: var(--white);
    flex-direction: column;
    align-items: center;
  }

  .info-contact-me {
    align-items: center;
    padding: 1.9375rem;
    gap: 32px;
    margin-left: 0;
    margin-top: -94px;
  }

  .info-contact-me .beTheFirst {
    font-size: 40px;
  }

  .img-3 {
    display: none;
  }
}

/* Tablet */

@media (max-width: 768px) and (min-width: 521px) {
  .img-1 {
    left: -228px;
  }

  .img-2 {
    right: -90px;
  }

  .img-3 {
    display: none;
  }

  .header-info-header {
    margin-bottom: 204px;
  }

  .header-info-header h1 {
    font-size: var(--heading--m);
  }

  .hero {
    width: 514px;
    height: 296px;
    margin-top: 24px;
  }
  .insights > .container {
    padding-top: 216px;
    padding-bottom: 6.5rem;
  }

  .insights .number {
    margin-bottom: 0;
  }

  .insights ul {
    flex-direction: column;
  }

  .insights ul li {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .insights-description {
    text-align: left;
  }

  .insights .insights-description h2 {
    padding-bottom: 16px;
  }

  .contact-me > .container {
    display: flex;
    color: var(--white);
    flex-direction: column;
    align-items: center;
  }

  .info-contact-me {
    align-items: center;
    padding: 1.9375rem;
    gap: 32px;
    margin-left: 0;
    margin-top: -94px;
  }

  .info-contact-me .beTheFirst {
    font-size: 2rem;
    line-height: 48px;
  }

  /* Mobile */

  @media (max-width: 520px) and (min-width: 320px) {
    .container {
      padding: 0 10px;
    }

    .img-1,
    .img-2,
    .img-3 {
      display: none;
    }

    .header-info-header h1 {
      font-size: var(--heading--s);
      line-height: var(--heading--s--line-spacing);
    }

    .header-info-header {
      margin-bottom: 156px;
    }

    .hero {
      width: 320px;
      height: 184px;
      margin-top: 30px;
    }

    .insights > .container {
      padding-top: 171px;
      padding-bottom: 10.6875rem;
    }

    .insights .number {
      margin-bottom: 0;
    }

    .insights ul {
      flex-direction: column;
      gap: 3.0625rem;
    }

    .insights ul li {
      display: flex;
      flex-direction: column;
      gap: 31px;
    }

    .insights-description {
      text-align: center;
    }

    .contact-me > .container {
      display: flex;
      color: var(--white);
      flex-direction: column;
      align-items: center;
    }

    .info-contact-me {
      align-items: center;
      padding: 1.9375rem;
      gap: 32px;
      margin-left: 0;
      margin-top: -94px;
    }
    .img-profile img {
      width: 265px;
      height: 267px;
    }

    .info-contact-me .beTheFirst {
      font-size: 2rem;
      line-height: 48px;
    }

    .info-contact-me p {
      font-size: 1rem;
      text-align: center;
    }
  }
}
